<h1>Getting the cool URL!</h1>
<p><%= @input %></p>

<!-- Output of line 2 is a string. The variable is passed via the URL in this instance and it can also be manipulated after the fact by changing the address. -->