This is the get cool url page

<form action="/cool_url" method="post">
  <input type="text" name="info[test]"><br>
  <textarea name="info[text]">Inside the text area</textarea>
  <br>
  <input type="radio" name="group1" value="Milk"> Milk<br>
  <input type="radio" name="group1" value="Butter"> Butter<br>
  <input type="radio" name="group1" value="Cheese"> Cheese
  <hr>

  <input type="checkbox" name="check1[option1]" value="Milk"> Milk<br>
  <input type="checkbox" name="check1[option2]" value="Butter"> Butter<br>
  <input type="checkbox" name="check1[option3]" value="Cheese"> Cheese
  <hr>


  <select name = "dropdown">
    <option>Milk</option>
    <option>Coffee</option>
    <option>Tea</option>
  </select>
  <input type="submit" value="submit">
</form>