<!-- Simple form which will send a GET request -->
<form action="/get_cool_url">
  <label for="GET-name">Enter Andy's Chinese Name</label>
  <input id="GET-name" type="text" name="name">
  <input type="submit" value="Save">

  <fieldset>
    <legend>ALL ABOUT ANDY</legend>
    <input type="radio" name="radio" id="radio"> <label for="radio">Click here if you think Andy has ever stolen something larger than a bread box. </label>
    <input type="submit" value="Save">
  </fieldset>

  <input type="checkbox" name="option1" value="Check"> Check this out <br>

  <textarea cols="40" rows="5" name="myname">
  Andy plays soccer.
  </textarea>

  <select name="Favorite Foods">
  <option value="Duck">Beijing Duck</option>
  <option value="Lamb">Lamb Skewers from Mongolia</option>
  <option value="Horse">Raw Horse Meat</option>
  </select>

  <input type="submit" value="Save">
</form>