<div class="container">


  <p>Get</p>
  <form action="/get_cool_url" method="get">
    <textarea cols="40" rows="5" name="myname">
    </textarea>
    <br>
    <input type="radio" name="group1" value="Milk"> Milk<br>
    <input type="radio" name="group1" value="Butter"> Butter<br>
    <input type="radio" name="group1" value="Cheese"> Cheese<br>
    <input type="submit" value="Say it!">
  </form>



  <p>Post</p>
  <form action="/post_cool_url" method="post">
    ice cold:
    <br>
    <textarea name="textform"></textarea>

    <input type="submit" value="Say it!">
  </form>




</div>
