<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table>
  <div>
  <form action="/cool_url" method="get">
  Who is the Prettiest Actress?: <input type="text" name="fname">
         <input type="submit" value="Submit">
       </div>
       </form>
    <br>
    <div>
  <form action="/cool_url" method="post">
    Who is the cutest kid? <input type="text" name="kid">
    <input type="submit" value="Submit">
    <input type="text" name="post[title]">
<input type="text" name="post[price]">
<textarea name="post[description]"> Please fill out these forms</textarea>
  </form>
  <form action="/test_cool_url" method="get">
   <br> Which describe baby David <br>
    <input type="checkbox" name="option1" value="Cute"> Cute<br>
    <input type="checkbox" name="option2" value="Smart" checked> Smart<br>
    <input type="checkbox" name="option3" value="Funny"> Funny<br>
    <input type="submit" value="Press this ish">

</form>
</div>
</div>