<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table>
  <br>
  <form action="/cool_url" method="post">
    <input type="text" name="post[user_input]"><br>
    <textarea cols="20" rows="5" name="post[block_text]"></textarea><br>
    <input type="radio" name="gender" value="female"> FEMALE<br>
    <input type="radio" name="gender" value="male"> MALE<br>
    <input type="checkbox" name="Terms and conditions" value="YES"> I ACCEPT<br>
    <select name="favorite food">
      <option value="pizza">Pizza</option>
      <option value="pizza">Bagel</option>
      <option value="pizza">Cats</option>
    </select>
    <input type="submit" value="Post cool url">
  </form>
  <br>
  <br>
  <form action="/cool_url" method="get">
    <input type="text" name="user_input">
    <input type="submit" value="Get cool url">
  </form>
</div>
