<div class="container">


  <p>Let's talk about music</p>
  <form action="/get_cool_url" method="post">
    <textarea cols="30" rows="1" name="myname">
       What's the best genre?
     </textarea>
    <br><br>
    <input type="radio" name="group1" value="Hip Hop"> Hip Hop<br>
    <input type="radio" name="group1" value="Country"> Country<br>
    <input type="radio" name="group1" value="Rock 'n Roll"> Rock 'n Roll<br>
    <div class = "button">
      <input type="submit" value="Say it!">
    </div>
  </form>

  <p>Who's your favorite rapper?</p>
  <form action="/post_cool_url" method="post">
    name:
    <br>
   <input type="text" name="post">
    <!-- <input type="submit" value="Say it!"> -->
  </form>
</div>
