.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 4px dotted #FFD900;

}

p{
  font-family: helvetica;
  font-weight: bolder;
  color: #4400FF;
  text-align: center;
}

form{
  color: blue;
}

.button{
  padding-top: 20px;

}

textarea{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #FF00EE;
  text-align: center;
}